
body {
  font-family: Helvetica, arial, sans-serif;
  display: block;
  background-color: #5eb738;
  color:white;
}


/* header section */
header{
  background-color: white;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  position: fixed;
  z-index: 1;
  align-items: center;
}

header .logo .header-name{
  color: darkgrey;
}

header .logo .header-title{
  color: red;
}

header .logo .header-sponsor{
  color: #fff;
}

/* logo */

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img{
  margin-left: 1.5rem;
  height: 3rem;
}


p{
  font-size: 1rem;
  color: #787878
}


nav {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    padding: 1rem;
}

a {
    color: #787878;
    text-decoration: none;
}

.desktop-nav a{
  padding: 0px 1rem;
}
