
body {
  font-family: Helvetica, arial, sans-serif;
  display: block;
  background-color: #5eb738;
  color:white;
}


/* header section */
header{
  background-color: white;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  margin-right: 24px;
}

header .logo .header-name{
  color: darkgrey;
}

header .logo .header-title{
  color: red;
}

header .logo .header-sponsor{
  color: black;
  margin-right: 5px;
}

/* logo */

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img{
  margin-left: 1.5rem;
  height: 3rem;
}


p{
  font-size: 1rem;
  color: #787878
}


nav {
    text-align: right;
    flex-grow: 1;
}

nav ul {
    padding: 1rem;
}

a {
    color: #787878;
    text-decoration: none;
}

.desktop-nav a{
  padding: 0px 1rem;
}


/*banner section */

.banner{
  display: flex;
  padding: 70px 24px 32px 32px;
  justify-content: center;
  align-items: center;
  background-color: #f1f2ee;

}

.banner img{
  width: 60%;
  margin: 32px 65px 32px 24px;
}

.banner-text{
  width: 35%;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 125px;
}

.banner-text h1{
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  color: #18140c
}

.banner-text h2{
  font-size: 20px;
  margin-bottom: 2.5rem;
  color: #787878
}


.button{
  background-color: #3e282a;
  text-align: center;
  padding: 1rem;
  border-radius: .2rem;
  margin: 10px 200px 0px 0px;
}

.button a{
  color: #fff;
  text-decoration: none;
  margin: 8px 8px;
}
